.contact {
  margin-top: 12%;
  background-color: black;
  padding: 5% 10% 10%;
  color: white;
}
.cnav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  color: #efefef;
}
.cnav-links > a > img {
  width: 3rem; 
  height: 3rem; 
  vertical-align: middle; 
}
.cnav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  .contact {
    margin-top: auto;
    padding: 5% 10% 5%;   
  }
  .cnav-links {
    float: none; 
    text-align: center; 
  }
  .cnav-links > a {
    display: inline-block; 
    margin: 0 10px;
    vertical-align: middle; 
  }
}

@media screen and (max-width: 1000px) {
  .contact {
    margin-top: 25rem;
    padding: 5% 10% 5%;   
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    margin-top: 15rem;
    padding: 5% 10% 5%;   
  }
}

@media screen and (max-width: 400px) {
  .contact {
    margin-top: 3rem; 
    padding: 5% 10% 5%; 
  }
  .cnav-links {
    float: none; 
    text-align: center; 
  }
  .cnav-links > a {
    display: inline-block; 
    margin: 0 10px; 
    vertical-align: middle; 
  }
  .btm-footer{
    flex-direction: column;
  }
}

.btm-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}