.intro {
  width: 80%;
  top: 40%;
  position: absolute;
  left: 10%;
  color: white;
  overflow: hidden;
  padding-bottom: 50%;
  text-align: center;
}
.intro h1 { 
  border-bottom: 5px solid white; 
} 

.typing-text {
  border-bottom: 5px solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(40) forwards;
  margin: 0 auto; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.heading{
  color: aqua;
  margin-top: 80%; 
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10% 10% 10% 10%;
}

@media screen and (max-width: 600px) {
  .intro {
      position: relative; 
      padding-bottom: 0;
      margin-top: 45%;}
  .row {
      padding-top: 10%;
      margin-top: 0; 
  }
}
