* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* background-image: url('../images/bluegreen.jpeg'); */
    background-color: black;
    /* background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
  } 

.nav {
  padding: 0% 10% 10%;
  padding-bottom: 0%;
  width: 100%;
  background-color:white;
  position: fixed;
  top:0;
  z-index: 1000000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: xx-large;
  color: black;
  padding-top: 0.3rem;
  padding-left: 0.8rem;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.2rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 0.9rem 0.8rem 0.9rem 0.8rem;
  text-decoration: none;
  color: transparent;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav{
    padding: 0%;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding:1rem ;
  }
  .nav-title{
    padding-top: 0%;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 0.1rem solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }
  .nav > .nav-links > a {
    color: white;
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  body{
    overflow-x: hidden
  }
}